<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Salary Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h4>Salary Management System</h4>
    <br>
    <div id="staff_management" v-cloak>
      <div id="staff_add">
        <h6><b>Add a Personel</b></h6>
        <table>
          <tr>
            <td>*Name:</td>
            <td><input v-model="new_personel.name" type="text" name="name" required></td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td>
              <input v-model="new_personel.gender" type="radio" name="gender" value="male">Male</input>&nbsp;
              <input v-model="new_personel.gender" type="radio" name="gender" value="female">Female</input>
            </td>
          </tr>
          <tr>
            <td>Age:</td>
            <td><input v-model="new_personel.age" type="number" name="age"></td>
          </tr>
          <tr>
            <td>Position:</td>
            <td><input v-model="new_personel.position" type="text" name="position"></td>
          </tr>
          <tr>
            <td>Salary:</td>
            <td><input v-model="new_personel.salary" type="number" name="salary"></td>
          </tr>
          <tr>
            <td>Insurance:</td>
            <td><input v-model="new_personel.insurance" type="number" name="insurance"></td>
          </tr>
        </table>
        <button id="btn_add" @click="personel_add">Add!</button>
        <br>
        <br>
        <div id="enterprise_info" v-if="staff[0]">
          <h6><b>Enterprise Information</b></h6>
          <table>
            <tr>
              <th>Staff Number:</th>
              <th>{{ staff_number }}</th>
            </tr>
            <tr>
              <th>Total Cashflow:</th>
              <th>${{ total_cashflow }}</th>
            </tr>
            <tr>
              <th>Taxes & Insurance:</th>
              <th>${{ taxes_and_insurance }}</th>
            </tr>
          </table>
        </div>
      </div>
      <div id="staff_list">
        <h6><b>Staff Information <span>({{ edit_mode? "Edit Mode": "View Mode" }})</span></b></h6>
        <table v-if="staff[0]">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Insurance</th>
            <th><button @click="edit_toggle">Mode</button></th>
          </tr>
          <tr v-if="edit_mode" v-for="personel in staff">
            <td><input @change="personel_edit" :value="personel.name" type="text"></input></td>
            <td>
              <select @change="personel_edit" :value="personel.gender" type="select">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </td>
            <td><input @change="personel_edit" :value="personel.age" type="number"></input></td>
            <td><input @change="personel_edit" :value="personel.position" type="text"></input></td>
            <td><input @change="personel_edit" :value="personel.salary" type="number"></input></td>
            <td><input @change="personel_edit" :value="personel.insurance" type="number"></input></td>
            <td><button @click="personel_remove">Remove</button></td>
          </tr>
          <tr v-if="!edit_mode" v-for="personel in staff">
            <td>{{ personel.name }}</td>
            <td>{{ personel.gender }}</td>
            <td>{{ personel.age }}</td>
            <td>{{ personel.position }}</td>
            <td>{{ personel.salary }}</td>
            <td>{{ personel.insurance }}</td>
            <td><button @click="personel_detail">Detail</button></td>
          </tr>
        </table>
        <p v-if="!staff[0]">No staff data.</p>
      </div>
      <div id="personel_info" v-if="current_personel">
        <h6><b>Personel Information</b></h6>
        <table>
          <tr>
            <th>Name</th>
            <td>{{ current_personel.name }}</td>
          </tr>
          <tr>
            <th>Position</th>
            <td>{{ current_personel.position }}</td>
          </tr>
          <tr>
            <th>Gross Salary</th>
            <td>{{ current_personel.salary }}</td>
          </tr>
          <tr>
            <th>Insurance</th>
            <td>{{ current_personel.insurance }}</td>
          </tr>
          <tr>
            <th>Taxes</th>
            <td>{{ personel_taxes }}</td>
          </tr>
          <tr>
            <th>Net Salary</th>
            <td>{{ personel_net_salary }}</td>
          </tr>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
