body {
  margin: 20px;
}

#staff_add {
  position: absolute;
}

#enterprise_info {
  position:absolute;
  top: 400px;
}

#staff_list {
  position: absolute;
  left: 300px;
}

#personel_info {
  position: absolute;
  left: 1000px;
}

#staff_add th, #staff_add td {
  padding: 5px;
}

#enterprise_info th, #enterprise_info td {
  padding: 5px;
}

#staff_list th, #staff_list td{
  border: 1px solid black;
  padding: 5px 10px;
}

#staff_list input {
  max-width: 120px;
}

#personel_info th, #personel_info td {
  border: 1px solid black;
  padding: 5px 10px;
}
